<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="page-categories">
          <!--h3-- class="title text-center">Page Subcategories</!--h3>
          <br /-->
          <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                <i class="material-icons">home</i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                <i class="material-icons">font_download</i> Asesor&iacute;a
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                <i class="material-icons">school</i> Capacitaci&oacute;n
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                <i class="material-icons">explicit</i> Experiencia
              </a>
            </li>
          </ul>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane  active" id="link7">

              <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card card-product">
                      <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                          <img class="img" src="./assets/img/card-3.jpg">
                        </a>
                      </div>
                      <div class="card-body">

                      </div>
                    </div> 
                  </div>
                  <div class="col-sm-6">
                    <h2>Soluciones Globales</h2>
                    <h3> Ingenier&iacute;a para equipos de alto desempe&ntilde;o</h3>
                    
                    <h2 style="text-decoration: underline;" >Oferta de servicios </h2>
                    <br />
                    <i class="material-icons"> phone </i> 593 984423517
                    <br />
                    <i class="material-icons"> email </i> infosolucionesglobales@gmail.com
                  </div>
                </div>
              </div>
            </div>
            </div>


            <div class="tab-pane" id="link8">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card card-product">
                        <div class="card-header card-header-image" data-header-animation="true">
                          <a href="#pablo">
                            <img class="img" src="./assets/img/card-3.jpg">
                          </a>
                        </div>
                        <div class="card-body">
  
                        </div>
                      </div> 
                    </div>
                    <div class="col-sm-6">
                      <h3>Solutiones Globales</h3>
                      <h2> Asesor&iacute;a</h2>                                            
                      <br />
                      <ul>
                        <li> Diagn&oacute;sticos, planificaci&oacute;n y levantamientos de informaci&oacute;n  empresariales.</li>
                        <li> Dise&ntilde;o del sistema de gesti&oacute;n.</li>
                        <li> Implementaci&oacute;n del sistema de gesti&oacute;n y sus normativas.</li>
                        <li> Auditor&iacute;as internas de SG.</li>
                        <li> Certificaci&oacute;n defensa o acompa&ntilde;amiento de sus SG.</li>
                        <li> Seguimiento y mantenimiento de Sistemas de Gesti&oacute;n.</li>                        
                      </ul>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      

            <div class="tab-pane" id="link9">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card card-product">
                        <div class="card-header card-header-image" data-header-animation="true">
                          <a href="#pablo">
                            <img class="img" src="./assets/img/card-3.jpg">
                          </a>
                        </div>
                        <div class="card-body">
  
                        </div>
                      </div> 
                    </div>
                    <div class="col-sm-6">
                      <h3>Solutiones Globales</h3>
                      <h2> Capacitaci&oacute;n</h2>                                            
                      <br />
                      <ul>
                        <li> Capacitaci&oacute;n abierta.</li>
                        <li> Capacitaci&oacute;n in-company.</li>
                        <li> Organizaci&oacute;n de eventos de capacitaci&oacute;n.</li>
                        <li> Dise&ntilde;o e implementaci&oacute;n  de programas de capacitaci&oacute;n anual.</li>
                      </ul>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="tab-pane" id="link10">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card card-product">
                        <div class="card-header card-header-image" data-header-animation="true">
                          <a href="#pablo">
                            <img class="img" src="./assets/img/card-3.jpg">
                          </a>
                        </div>
                        <div class="card-body">
  
                        </div>
                      </div> 
                    </div>
                    <div class="col-sm-6">
                      <h3>Solutiones Globales</h3>
                      <h2> Experiencia</h2>                                            
                      <br />
                      <ul>
                        <li> Ingenieros altamente capacitados con maestr&iacute;as en gesti&oacute;n.</li>
                        <li> Implementaci&oacute;n de Sistemas de Gesti&oacute;n en empresas de servicios.</li>
                        <li> Auditor&iacute;as realizadas a m&aacute;s de 60 empresas a nivel nacional.</li>
                        <li> Auditores Lideres Certificados por Bureau Veritas.</li>
                        <li> Amplia experiencia en auditor&iacute;as internacionales como BMI. </li>
                        <li> Alta competencia y conocimiento de las normas ISO y nacionales.</li>
                      </ul>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


